@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #24292d;
}

::selection {
  background-color: #19d897;
  color: white;
}

.center-align-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.light-paragraph {
  color: white;
}

.timeline-section {
  background-color: #24292d;
  min-height: 100vh;
  padding: 100px 15px;
  color: #19d897;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #19d897;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  color: #19d897;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
/* responsive */
@media (max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}

.border {
  border-radius: 25px;
}

.quieneSomos {
  border-radius: 25px;
  margin-top: 10px;
  text-size-adjust: 10xp;
  text-justify: auto;
}
.contenedor {
  max-width: 1500px;
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
}

.shining {
  color: white;
  text-shadow: 0 0 10px;

}
.textcolor {
  color: #19d897;
}

.rounded {
  border-top: 8px solid white;
  border-radius: 10px;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.main-container {
  display: flex;
  padding: 5%;
  flex-wrap: wrap;
  flex-direction: row;
}

.secondary-container {
  display: flex;
  width: 600px;
  margin: 2%;
  flex-direction: column;
}

.float-left {
  flex-shrink: 0%;
  flex-basis: 50%;
}

.float-right {
  flex-shrink: 50%;
  flex-basis: 100%;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  margin: 5%;
}

.rounded2 {
  border-top: 5px solid;
  border-radius: 10px;
  color: #19d897;
  margin-left: 5%;
  margin-right: 5%;
}

.colorbutton {
  background-color: #19d897;
}
